:root {
    --blue-700: hsl(228, 99%, 58%);
    --blue-600: hsl(228, 100%, 60%);
    --blue-400: hsl(220, 100%, 64%);
    --blue-200: hsl(224, 100%, 95%);
    --white: hsl(0, 0%, 100%);
    --transparent-black: hsl(0, 0%, 0%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--blue-700);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.5px solid var(--blue-400);
    color: var(--white);
}

.title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.dot-icon {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--white);
}

